.app {
  max-width: 880px;
  position: relative;
  min-height: 100vh;
  margin: 0 auto 0;
  font-family: Inter, Arial, sans-serif;
  color: #fff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media (min-width: 476px) {
  .app {
    padding: 0 20px;
  }
}