.header__menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

@media (min-width: 768px) {
  .header__menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 24px;
  }
}