.popup__close-btn {
  background-image: url('../../../image/popup__close-btn.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: -36px;
  right: 0;
  width: 20px;
  height: 20px;
}

@media (min-width: 768px) {
  .popup__close-btn {
    top: -40px;
    right: -40px;
    width: 32px;
    height: 32px;
  }
}

